@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleBlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="client-sign-in">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sign In (C)
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="server-sign-in">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sign In (S)
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="server">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Server
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="client">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Client
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth-server">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auth (S)
                    </NavLink>
                </div>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth-client">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auth (C)
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

