@namespace BitzArt.Blazor.Auth.SampleApp
@page "/"
@rendermode InteractiveAuto

<PageTitle>Home Page | Blazor.Auth</PageTitle>

<h5 style="margin-bottom:2rem;">
    This page is currently using @(OperatingSystem.IsBrowser() ? "WebAssembly rendering" : "server-side rendering")
</h5>

<AuthorizeView>

    <NotAuthorized>
        <div>
            <h4>
                You are not authenticated.
            </h4>

            <div style="margin-top:2rem;">
                <button type="submit" class="btn btn-lg btn-primary" @onclick="SignInAsync">Sign In</button>
            </div>
        </div>
    </NotAuthorized>

    <Authorized>
        <div>
            <h4>
                You are authenticated.
            </h4>

            <div style="margin-top:2rem;">
                <button type="submit" class="btn btn-lg btn-primary" @onclick="SignOutAsync">Sign Out</button>
            </div>
        </div>
    </Authorized>

</AuthorizeView>