@namespace BitzArt.Blazor.Auth.SampleApp
@page "/"
@rendermode InteractiveAuto

<PageTitle>Home Page | Blazor.Auth</PageTitle>

<div>
    To see how <a href="https://github.com/BitzArt/Blazor.Auth">Blazor.Auth</a> behaves under different render modes,
    navigate to the
    <a href="/static">static page</a>,
    <a href="interactive-server">interactive (server) page</a>,
    and <a href="interactive-wasm">interactive (wasm) page</a>.
</div>