@page "/auth"

@inject NavigationManager NavigationManager
@inject IUserService UserService

<PageTitle>Auth Page | Blazor.Auth</PageTitle>

<div>
    <div style="margin-top:2rem;">
        <button type="submit" class="btn btn-lg btn-primary" @onclick="SignInAsync">Sign In</button>
    </div>
    <div style="margin-top:2rem;">
        <button type="submit" class="btn btn-lg btn-primary" @onclick="SignUpAsync">Sign Up</button>
    </div>
</div>


@code {
    private async Task SignInAsync()
    {
        var payload = new SignInPayload();

        var result = await UserService.SignInAsync(payload);

        NavigationManager.NavigateTo("/", true);
    }

    private async Task SignUpAsync()
    {
        var payload = new SignUpPayload();

        var result = await UserService.SignUpAsync(payload);

        NavigationManager.NavigateTo("/", true);
    }
}
