@page "/auth-client"

@rendermode InteractiveWebAssembly

<PageTitle>Auth Client Side</PageTitle>

<RouteAuthorize />

<AuthorizeView>
    <NotAuthorized>
        <h1>You are not authenticated</h1>
    </NotAuthorized>
    <Authorized>
        <h1>You are authenticated</h1>
        @context.User.Identity?.IsAuthenticated
    </Authorized>
</AuthorizeView>
