@page "/client2"

@rendermode InteractiveWebAssembly

<PageTitle>Client Side 2</PageTitle>

Client Side 2

<button @onclick="Test">Sign In</button>

<AuthorizeView>
    <NotAuthorized>
        <h1>You are not authenticated</h1>
    </NotAuthorized>
    <Authorized>
        <h1>You are authenticated</h1>
        @context.User.Identity?.IsAuthenticated
    </Authorized>
</AuthorizeView>

@code {
    private void Test()
    {
    }
}