@page "/client"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Client Side</PageTitle>

<h3>Interactive WebAssembly (prerendering off)</h3>

<AuthorizeView>
    <NotAuthorized>
        <h1>You are not authenticated</h1>
    </NotAuthorized>
    <Authorized>
        <h1>You are authenticated</h1>
        @context.User.Identity?.IsAuthenticated
    </Authorized>
</AuthorizeView>

@code {
    private void Test()
    {
    }
}