@page "/"

<PageTitle>Home Page | Blazor.Auth</PageTitle>

<h2>Count: @count</h2>

<button type="submit" class="btn btn-lg btn-primary" @onclick="Click">Click</button>

@code {

    private int count = 0;

    private void Click()
    {
        count++;
    }
}