@page "/sign-in"
@inherits PageBase

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IUserService UserService

<PageTitle>Sign In</PageTitle>

<h1>Sign In</h1>

<button type="submit" class="w-100 btn btn-lg btn-primary" @onclick="SignInAsync">Sign In</button>

@code {
    private async Task SignInAsync()
    {
        var payload = new SignInPayload();

        var result = await UserService.SignInAsync(payload);

        NavigationManager.NavigateTo("/", true);
    }
}
